#contact-img {
  width: 35px;
  height: 30px;
}

#webpage-img {
  width: 350px;
  height: 200px;
}

#navbar {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-evenly;
  background-color: black;
  width: 100%;
  height: 60px;
  align-items: center;
  z-index: 500;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  box-sizing: border-box;
  background-color: whitesmoke;
}


#welcome-section {
  position: relative;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url(https://cdn.pixabay.com/photo/2016/11/23/14/45/coding-1853305_1280.jpg);
  background-size: cover;
  background-position: center;
  z-index: 1;
}

html {
  font-family: Helvetica, sans-serif;
  scroll-behavior: smooth;
}

footer {
  display: flex;
  width: 100%;
  background-color: black;
  justify-content: space-evenly;
  height: 100px;
  align-items: center;
}

p {
  color: white;
}

h1, h3 {
  text-align: center;
}

a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
}

a img {
  display: block;
  margin: auto;
}

a:hover {
  background-color: darkblue;
  color: white;
  font-size: 25px;
  padding: 10px;
  transition: 0.3s ease;
  border-radius: 10px;
}

img {
  border-radius: 5px;
}

#link {
  margin-bottom: 40px;
  margin-top: 20px;
}

#color {
  color: white;
  font-weight: bold;
  font-size: 25px
}

#color:hover {
  font-size: 35px;
}

#title, #subtitle {
  background-color: #243636;
color: white;
padding: 2px;
border-radius: 5px;
}


#project-section {
background-color: #D4D9D9;
padding-top: 1px;
}

#webpage-img {
  border: 1px solid darkred;
}


.line {
  background-color: darkblue;
  width: 35%;
  height: 5px;
  margin: auto;
  border-radius: 10px;
  min-width: 300px;

}

.project-tile {
  
  border-radius: 10px;

}

@media screen and (min-width: 1024px) {
  #navbar {
    height: 80px;
  }

  #title {
    font-size: 40px;
  }

  #subtitle {
    font-size: 30px;
  }

  .projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .line {
    margin-bottom: 20px;
  }
}

#project-title {
  font-size: 25px;
}

p {
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}